<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm fixed-top">
  <div class="container">
    <a class="navbar-brand brand-text me-5" href="#">
        <img class="logo" src="assets/images/logo.png" alt="">
      Game Over
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul *ngIf="isLogin" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="games">All</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Platforms
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="games/platform/pc">Pc</a></li>
            <li><a class="dropdown-item" routerLink="games/platform/browser">Browser</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sort-by
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="games/sort-by/releaseDate">release-date</a></li>
            <li><a class="dropdown-item" routerLink="games/sort-by/popularity">popularity</a></li>
            <li><a class="dropdown-item" routerLink="games/sort-by/alphabetical">alphabetical</a></li>
            <li><a class="dropdown-item" routerLink="games/sort-by/relevance">relevance</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="games/category/racing">racing</a></li>
            <li><a class="dropdown-item" routerLink="games/category/sports">sports</a></li>
            <li><a class="dropdown-item" routerLink="games/category/social">social</a></li>
            <li><a class="dropdown-item" routerLink="games/category/shooter">shooter</a></li>
            <li><a class="dropdown-item" routerLink="games/category/open-world">open-world</a></li>
            <li><a class="dropdown-item" routerLink="games/category/zombie">zombie</a></li>
            <li><a class="dropdown-item" routerLink="games/category/fantasy">fantasy</a></li>
            <li><a class="dropdown-item" routerLink="games/category/action-rpg">action-rpg</a></li>
            <li><a class="dropdown-item" routerLink="games/category/action">action</a></li>
            <li><a class="dropdown-item" routerLink="games/category/flight">flight</a></li>
            <li><a class="dropdown-item" routerLink="games/category/battle-royale">battle-royale</a></li>
          </ul>
        </li>

      </ul>

      <ul class="navbar-nav mb-2 ms-auto mb-lg-0">
        <li>
          <a *ngIf="isLogin" (click)="logOut()" routerLink="/login" class="btn btn-outline-ftg">Log Out</a>
        </li>
      </ul>

      <ul *ngIf="!isLogin" class="navbar-nav mb-2 ms-auto mb-lg-0">
        <li class="nav-item m-2" >
          <a routerLink="login" class="nav-link btn py-2">Login</a>
        </li>
        <li class="nav-item m-2" >
          <a routerLink="register" class="btn btn-outline-ftg m-auto w-100" > Join Free</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
